body {
    background: #afc4e7; 
}

h3{
    font-family: 'JoongnajocheM-KSCpc-EUC-H', sans-serif;
    font-size: 40px;
}

p{
    font-family: 'NotoSerifKR', serif;
}

h1{
    font-family: 'JoongnajocheM-KSCpc-EUC-H', sans-serif;
}