#qna{
    position: relative;
    background-color: floralwhite;
    width: 80%;
    height: 600px;
    margin: 0 auto;
    text-align:center;
    border-radius:20px;
    display: none;
}

.qBox{
    background-color:rgb(233, 236, 192);
    text-align:center;
    border-radius:20px;
    font-size:20px;
    width:80%;
    font-family: 'IM_Hyemin-Bold';
}

.answerList{
    background-color: rgba(255, 209, 216, 0.979);
    border-radius: 10px;
    display: block;
    width:50%;
    border:0px;
    font-size:20px;
    font-family: 'IM_Hyemin-Regular';
}

.answerList:hover, .answerList:focus{
    background-color: red;
    color:seashell;
}

.circleBox{
    position:absolute;
    left: 20%;
    right: 20%; 
    bottom: 5%;
    width:105px;
    height:5%;
}

#circle1{
    float:left;
    margin-left:5px;
    width:20px;
    height:20px;
    border-radius:50%;
    background-color: indigo;
}
#circle2{
    float:left;
    margin-left:5px;
    width:20px;
    height:20px;
    border-radius:50%;
    background-color: orangered;
}
#circle3{
    float:right;
    margin-right:5px;
    width:20px;
    height:20px;
    border-radius:50%;
    background-color: darkseagreen;
}
#circle4{
    float:right;
    margin-right:5px;
    width:20px;
    height:20px;
    border-radius:50%;
    background-color: orchid;
}

@font-face {
    font-family: 'IM_Hyemin-Regular';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2106@1.1/IM_Hyemin-Regular.woff2') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'IM_Hyemin-Bold';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2106@1.1/IM_Hyemin-Bold.woff2') format('woff');
    font-weight: normal;
    font-style: normal;
}